<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- 모바일에서 그대로 보려면 이거 해줌 -->
    <meta name="viewport" content="user-scalable=no, 
        initial-scale=1.0, 
        maximum-scale=1.0, 
        minimum-scale=1.0, 
        width=device-width">
    <meta name="author" content="webstoryboy">
    <meta name="description" content="반응형 사이트">
    <meta name="keywords" content="minsu">
    <title>☀PartitionProject☃</title>

    <!-- style -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/lightgallery.css">

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/icon/favicon-152.png">
    <link rel="apple-touch-icon-precomposed" href="/icon/favicon-152.png">
    <link rel="icon" href="/path/to/favicon.png">
    <link rel="icon" href="/icon/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/icon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/icon/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/icon/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/icon/favicon-128.png" sizes="128x128">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

</head>

<body>
    <header id="header">
        <div class="container">

            <!-- row는 헤더메뉴 옆에 여백 줄때 좀더 수월하게 하려고 하나의 열 만듬 -->
            <div class="row">
                <div class="header">
                    <div class="header_menu">
                        <a href="#">스택오버플로우</a>
                        <a href="#">깃허브</a>
                        <a href="#">로그아웃</a>
                        <a href="#">유튜브</a>
                    </div>
                    <!-- end header menu -->
                    <div class="header_tit">
                        <h1>☀PartitionProject☃</h1><br>
                        <a href="https://www.google.com/">google.com</a>
                        <a href="https://www.naver.com/">naver.com</a>
                    </div>
                    <!-- end header_tit -->

                    <div class="header_clock">
                        <h1>00:00</h1>
                    </div>

                    <div class="header_press">
                        <h1>어디가? 개발해야지?!?!</h1>
                    </div>

                    <!-- // header_clock -->
                    <div class="header_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-html5" aria-hidden="true"></i><span>HTML5</span></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span>Fackbook</span></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>twitter</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <nav id="nav">
        <div class="container">
            <div class="row">
                <div class="nav">
                    <h2 class="ir_su">전체 메뉴</h2>
                    <div>
                        <h3>HTML Reference</h3>
                        <ol>
                            <li><a href="#">HTML 태그(Tag)</a></li>
                            <li><a href="#">블록 요소/인라인 요소</a></li>
                            <li><a href="#">DTD 선언</a></li>
                            <li><a href="#">언어 속성 설정</a></li>
                            <li><a href="#">HTML &lt;title&gt;</a></li>
                            <li><a href="#">HTML &lt;meta&gt;</a></li>
                            <li><a href="#">특수문자</a></li>
                            <li><a href="#">하이퍼 링크</a></li>
                            <li><a href="#">HTML &lt;style&gt;</a></li>
                            <li><a href="#">HTML &lt;html&gt;</a></li>
                            <li><a href="#">HTML &lt;head&gt;</a></li>
                            <li><a href="#">HTML &lt;div&gt;</a></li>
                            <li><a href="#">HTML &lt;colgroup&gt;</a></li>
                            <li><a href="#">HTML &lt;caption&gt;</a></li>
                        </ol>
                    </div>
                    <div>
                        <h3>CSS Reference</h3>
                        <ol>
                            <li><a href="#">CSS 선택자</a></li>
                            <li><a href="#">CSS 단위</a></li>
                            <li><a href="#">CSS 색상</a></li>
                            <li><a href="#">CSS 선언 방법</a></li>
                            <li><a href="#">상대주소와 절대주소</a></li>
                            <li><a href="#">CSS float</a></li>
                            <li><a href="#">이미지 표현 방법</a></li>
                            <li><a href="#">이미지 스프라이트</a></li>
                            <li><a href="#">IR 효과</a></li>
                            <li><a href="#">이미지 최적화</a></li>
                            <li><a href="#">background-color</a></li>
                            <li><a href="#">border-style</a></li>
                            <li><a href="#">font-size</a></li>
                            <li><a href="#">text-align</a></li>
                        </ol>
                    </div>
                    <div>
                        <h3>Calendar</h3>
                        <ol>
                            <li><a href="#">반응형사이트</a></li>
                            <li><a href="#">네이버</a></li>
                            <li><a href="#">페이스북</a></li>
                            <li><a href="#">인스타그램</a></li>
                            <li><a href="#">다나와</a></li>
                            <li><a href="#">구글</a></li>
                            <li><a href="#">행복쇼핑</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav -->

    <article id="title">
        <div class="container">
            <div class="title">
                <h2>☀PartitionProject☃</h2>
                <a href="#" class="btn">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <span class="ir_su">전체메뉴 보기</span>
                </a>
            </div>
        </div>
    </article>
    <!-- //title-->

    <main>
        <section id="contents">
            <div class="container">
                <h2 class="ir_su">반응형 사이트 컨텐츠</h2>
                <section id="cont_left">
                    <h3 class="ir_su">반응형 사이트 왼쪽 컨텐츠</h3>
                    <article class="column col1">
                        <h4 class="col_tit">Menu</h4>
                        <p class="col_desc">box-shadow이용함.</p>
                        <!-- 메뉴-->
                        <div class="menu">
                            <ul>
                                <li><a href="#">Cafe <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">Tutorial <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">WebSite <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">Reference <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">CSS3 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                <li><a href="#">HTML5 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!-- //메뉴-->
                    </article>
                    <!-- //col1-->
                    <article class="column col2">
                        <h4 class="col_tit">WhatToDo</h4>
                        <p class="col_desc">해야 할 일들 입니다.</p>
                        <!-- 게시판-->
                        <div class="notice1">
                            <form class="js-toDoForm">
                                <input type="text" placeholder="일정을 입력하세요." />
                            </form>
                            <ul class="js-toDoList">

                            </ul>
                        </div>
                    </article>
                    <!-- //col2-->
                    <article class="column col3">
                        <h4 class="col_tit">모르겠다</h4>
                        <p class="col_desc">몰라.</p>

                    </article>
                    <!-- //col3-->
                </section>
                <section id="cont_center">
                    <h3 class="ir_su">반응형 사이트 가운데 컨텐츠</h3>
                    <article class="column col4">
                        <h4 class="col_tit">Slick Slider</h4>
                        <p class="col_desc">slick.js를 이용한 이미지 슬라이드 효과입니다.</p>
                        <!-- 이미지 슬라이드-->
                        <!-- <div class="slider">
                            <div>
                                <figure>
                                    <img src="img/slider01.jpg" alt="이미지1">
                                    <figcaption><em>Responsive Site1</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드입니다.</span></figcaption>
                                </figure>
                            </div>
                            <div>
                                <figure>
                                    <img src="img/slider02.jpg" alt="이미지2">
                                    <figcaption><em>Responsive Site2</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드입니다.</span></figcaption>
                                </figure>
                            </div>
                            <div>
                                <figure>
                                    <img src="img/slider03.jpg" alt="이미지3">
                                    <figcaption><em>Responsive Site3</em><span>슬라이드 플러그인을 이용한 반응형 이미지 슬라이드입니다.</span></figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- //이미지 슬라이드-->
                    </article>
                    <!-- //col4-->
                    <article class="column col5">
                        <h4 class="col_tit">Chat</h4>
                        <p class="col_desc">채팅영역입니다.</p>
                        <div id="chat_main">
                            <div id="chat">
                                <!-- 채팅 메시지 영역 -->
                            </div>
                            <div>
                                <input type="text" id="test" placeholder="메시지를 입력해주세요..">
                                <button class="chat_btn" onclick="send()">Send</button>
                            </div>
                        </div>
                    </article>
                    <!-- //col5-->
                    <article class="column col6">
                        <h4 class="col_tit">Calendar</h4>
                        <p class="col_desc">일정입니다.</p>
                        <!-- video-->
                        <!-- <video autoplay="autoplay" controls="controls" loop="loop">
                                <source src="img/video.mp4" type="video/mp4">
                            </video> -->
                        <!-- <div class="video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/D1PvIWdJ8xo" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div> -->
                        <!-- //video -->

                        <div class="dalyuak">
                            <div class="my-calendar clearfix">
                                <div class="clicked-date">
                                    <div class="cal-day"></div>
                                    <div class="cal-date"></div>
                                </div>
                                <div class="calendar-box">
                                    <div class="ctr-box clearfix">
                                        <button type="button" title="prev" class="btn-cal prev">
                                        </button>
                                        <span class="cal-month"></span>
                                        <span class="cal-year"></span>
                                        <button type="button" title="next" class="btn-cal next">
                                        </button>
                                    </div>
                                    <table class="cal-table">
                                        <thead>
                                            <tr>
                                                <th>S</th>
                                                <th>M</th>
                                                <th>T</th>
                                                <th>W</th>
                                                <th>T</th>
                                                <th>F</th>
                                                <th>S</th>
                                            </tr>
                                        </thead>
                                        <tbody class="cal-body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- // calendar -->
                    </article>
                    <!-- //col6-->
                </section>
                <section id="cont_right">
                    <!-- <h3 class="ir_su">반응형 사이트 오른쪽 컨텐츠</h3>
                    <article class="column col7">
                        <h4 class="col_tit">Effect1</h4>
                        <p class="col_desc">CSS의 transform을 이용한 마우스 오버효과입니다.
                        </p>
                        <div class="side1">
                            <figure class="front">
                                <img src="/images/side1.jpg" alt="이미지1">
                            </figure>
                            <div class="back">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                        </div>
                    </article>
                    <article class="column col8">
                        <h4 class="col_tit">Effect2</h4>
                        <p class="col_desc">CSS의 transform을 이용한 마우수 오버효과입니다.
                        </p>
                        <div class="side2">
                            <figure>
                                <img src="/images/side2.jpg" alt="이미지1">
                            </figure>
                        </div>
                    </article>
                    <article class="column col9">
                        <h4 class="col_tit">Effect3</h4>
                        <p class="col_desc">CSS의 transform을 이용한 마우스 오버효과입니다.
                        </p>
                        <div class="side3">
                            <figure>
                                <img src="/images/side3.jpg" alt="이미지1">
                            </figure>
                        </div>
                    </article> -->
                </section>
            </div>

        </section>
        <!-- contents -->

    </main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <ul>
                        <li><a href="#">사이트 도움말</a></li>
                        <li><a href="#">사이트 이용약관</a></li>
                        <li><a href="#">사이트 운영원칙</a></li>
                        <li><a href="#"><strong>개인정보취급방침</strong></a></li>
                        <li><a href="#">책임의 한계와 법적고지</a></li>
                        <li><a href="#">게시중단요청서비스</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <address>
                        Copyright ©
                        <a href="#"><strong>M.S.KIM</strong></a>
                        All Rights Reserved.
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <!-- JavaScript Libraries && JavaScript Files -->
    <script src="/javascripts/jquery.min_1.12.4.js"></script>
    <script src="/javascripts/modernizr-custom.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/lightgallery.min.js"></script>
    <script src="/javascripts/effect.js"></script>
    <script src="/javascripts/cal.js"></script>
    <script src="/javascripts/clock.js"></script>
    <script src="/javascripts/todo.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
</body>

</html>