<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- 모바일에서 그대로 보려면 이거 해줌 -->
    <meta name="viewport" content="user-scalable=no, 
        initial-scale=1.0, 
        maximum-scale=1.0, 
        minimum-scale=1.0, 
        width=device-width">
    <title>☀PartitionProject☃</title>

    <!-- style -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/lightgallery.css">

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/icon/favicon-152.png">
    <link rel="icon" href="/path/to/favicon.png">
    <link rel="icon" href="/icon/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/icon/favicon-32.png" sizes="32x32">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

</head>

<body>
    <header id="header">
        <div class="container">

            <!-- row는 헤더메뉴 옆에 여백 줄때 좀더 수월하게 하려고 하나의 열 만듬 -->
            <div class="row">
                <div class="header">
                    <div class="header_menu">
                        <a href="#">스택오버플로우</a>
                        <a href="#">깃허브</a>
                        <a href="logout">로그아웃</a>
                    </div>
                    <!-- end header menu -->
                    <div class="header_tit">
                        <h1>☀PartitionProject☃</h1><br>d
                        <a href="https://www.google.com/">google.com</a>
                        <a href="https://www.naver.com/">naver.com</a>
                    </div>
                    <!-- end header_tit -->

                    <div class="header_clock">
                        <h1>00:00</h1>
                    </div>

                    <div class="header_press">
                        <h1>어디가? 개발해야지?!?!</h1>
                    </div>

                    <!-- // header_clock -->
                    <div class="header_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-html5" aria-hidden="true"></i><span>HTML5</span></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span>Fackbook</span></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>twitter</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <nav id="nav">
        <div class="container">
            <div class="row">
                <div class="nav">
                    <div class="dalyuak">
                        <div class="my-calendar clearfix">
                            <div class="clicked-date">
                                <div class="cal-day"></div>
                                <div class="cal-date"></div>
                            </div>
                            <div class="calendar-box">
                                <div class="ctr-box clearfix">
                                    <button type="button" title="prev" class="btn-cal prev">
                                    </button>
                                    <span class="cal-month"></span>
                                    <span class="cal-year"></span>
                                    <button type="button" title="next" class="btn-cal next">
                                    </button>
                                </div>
                                <table class="cal-table">
                                    <thead>
                                        <tr>
                                            <th>S</th>
                                            <th>M</th>
                                            <th>T</th>
                                            <th>W</th>
                                            <th>T</th>
                                            <th>F</th>
                                            <th>S</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cal-body"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="d-day">

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav -->

    <article id="title">
        <div class="container">
            <div class="title">
                <h2>☀Calendar☃</h2>
                <a href="#" class="btn">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <span class="ir_su">달력 보기</span>
                </a>
            </div>
        </div>
    </article>
    <!-- //title-->

    <main>
        <section id="contents">
            <div class="container">
                <h2 class="ir_su">반응형 사이트 컨텐츠</h2>
                <section id="cont_left">
                    <h3 class="ir_su">반응형 사이트 왼쪽 컨텐츠</h3>
                    <article class="column col1">
                        <h4 class="col_tit">메뉴</h4>
                        <p class="col_desc">채팅 관련 메뉴입니다.</p>
                        <div class="menu">
                            <ul>
                                <li><a href="#">다른 그룹으로 가기<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                                    
                                </li>
                                <li><a href="#">참여중인 인원<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                                    <div id="member">
                                        
                                    </div>
                                </li>
                                <li><a href="#">업로드된 파일 기록<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>

                                </li>
                            </ul>
                        </div>
                    </article>
                </section>

                <section id="cont_center">
                
                    <article class="column col5">
                        <h4 class="col_tit">그룹 채팅</h4>
                        <p class="col_desc">채팅을 통해 일정을 공유하세요!!</p>
                        <div id="chat_main">
                            <div id="chat">
                                <!-- 채팅 메시지 영역 -->
                                
                            </div>
                            <div class="chat_area">
                                <div class="chat_desc">
                                    <input onkeyup="enterkey();" type="text" id="test" placeholder="메시지를 입력해주세요..">
                                </div>
                                <button class="chat_btn" onclick="send()">전송</button>
                            </div>
                        </div>
                    </article>
                </section>

                <section id="cont_right">
                    <article class="column col7">
                        <h4 class="col_tit">메모 보드</h4>
                        <p class="col_desc">해야 할 일들 입니다.</p>
                        <!-- 게시판-->
                        <div class="notice1">
                            <form class="js-toDoForm">
                                <input type="text" placeholder="일정을 입력하세요." />
                            </form>
                            <ul class="js-toDoList">
                        
                            </ul>
                        </div>
                    </article>
                </section>
            </div>

        </section>
        <!-- contents -->

    </main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <ul>
                        <li><a href="#">사이트 도움말</a></li>
                        <li><a href="#">사이트 이용약관</a></li>
                        <li><a href="#">사이트 운영원칙</a></li>
                        <li><a href="#"><strong>개인정보취급방침</strong></a></li>
                        <li><a href="#">책임의 한계와 법적고지</a></li>
                        <li><a href="#">게시중단요청서비스</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <h1>부산광역시 남구 용소로 45, 부경대학교 대연캠퍼스 A13 옥상 컨테이너</h1>
                    <address>
                        Copyright ©
                        <a href="#"><strong>S.J.H</strong></a>
                        All Rights Reserved.
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <!-- JavaScript Libraries && JavaScript Files -->
    <script src="/javascripts/jquery.min_1.12.4.js"></script>
    <script src="/javascripts/modernizr-custom.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/lightgallery.min.js"></script>
    <script src="/javascripts/effect.js"></script>
    <script src="/javascripts/cal.js"></script>
    <script src="/javascripts/clock.js"></script>
    <script src="/javascripts/todo.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/d-day.js"></script>
</body>

</html>