<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>partition</title>

    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/sweetalert2.css">

    <!-- 웹폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/javascripts/sweetalert2.js"></script>

</head>

<body>
    <div class="container">
        <div class="top_container">
            <div class="head1">Partition</div>
            <div class="head2">당신의 모임을 조금 더 편리하게</div>
        </div>
        <form action="register" method="POST" class="sign_in-form">
            <h2>Sign Up</h2>
            <div class="txtb">
                <input type="text" name="username">
                <span data-placeholder="Username"></span>
            </div>

            <div class="txtb">
                <input type="email" name="email">
                <span data-placeholder="E-Mail"></span>
            </div>

            <div class="txtb">
                <input type="password" name="password">
                <span data-placeholder="Password"></span>
            </div>

            <div class="txtb">
                <input type="password" name="confirm_password">
                <span data-placeholder="Confirm Password"></span>
            </div>
            <input type="submit" class="logbtn" value="Sign up">
            <div class="bottom-text">
                Already have an account? <a href="login">Sign in</a>
            </div>
        </form>
        <script type="text/javascript">
            $(".txtb input").on("focus", function() {
                $(this).addClass("focus");
            });

            $(".txtb input").on("blur", function() {
                if ($(this).val() == "")
                    $(this).removeClass("focus");
            });
        </script>
        <%if(locals.bool == 1) { %>
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Sign up failed',
                    text: ' Invalid ID & E-Mail. Please try again'
                })
            </script>
            <% }else if(locals.bool == 2) { %>
                <script>
                    Swal.fire({
                        icon: 'error',
                        title: 'Sign up failed',
                        text: ' Invalid E-Mail. Please try again'
                    })
                </script>

                <% }else if(locals.bool == 3) { %>
                    <script>
                        Swal.fire({
                            icon: 'error',
                            title: 'Sign up failed',
                            text: ' Invalid ID. Please try again'
                        })
                    </script>

                    <% }else if(locals.bool == 4) { %>
                        <script>
                            Swal.fire({
                                icon: 'error',
                                title: 'Sign up failed',
                                text: 'Passwords do NOT match!'
                            })
                        </script>

                        <% } else if(locals.bool == 5) { %>
                            <script>
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Sign up failed',
                                    text: 'Fill in the form'
                                })
                            </script>
                            <% } %>
    </div>

</body>

</html>